* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address {
    margin: 0.5em 0;
}

li,dd {
    margin-left:1em;
}

fieldset {
    padding:.5em;
    border: 1px solid #C1D0E8;
}

body {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    letter-spacing: 0.1em;
}

textarea, input {
	font-family: arial, Helvetica, sans-serif;
	font-size: 1em;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
	padding: 0.1em;
	letter-spacing: 0.1em;
}

textarea:focus, input:focus {
  background-color: #ffc;
}

:link, :visited {
    text-decoration: none;
    color: #b00;
    border-bottom: 1px dotted #bbb;
}

:link:hover, :visited:hover {
    background-color: #eee;
    color: #555;
}

table {
    border-collapse: separate;
    margin: 0 auto;
    border: thin solid #C1D0E8;
    text-align: right;
}

thead th{
  border: thin solid #C1D0E8;
  text-align: center;
}

tbody td {
  text-align: left;
  border: thin solid #C1D0E8;
  padding: 0.2em 0.2em;
}

#page_wrapper {
    min-width: 75em;
    width: expression('75em'); /* Min-width for IE6 */
}

#header {
    background: #FFFFFF;
}

#footer {
    background: #FFFFFF;
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
}

#footer p {
	color: #999;
	font-size: 0.9em;
}

#main-body {
    background: #FFFFFF;
}

#right-sidebar {
    background: #FFFFFF;
}

#main-content {
    background: #FFFFFF;
}

#left-sidebar {
    background: #FFFFFF;
}

/*
 * Header logo container
 */
#header #logo {
    float: left;
    width: 50%;
    /*overflow: hidden;*/
}

/*
 * This is for the logo properties.
 */
#header img {
    border: none;
}


/*
 * Used to create the search mini form in the header.
 */
#header #search {
    text-align: right;
    float: right;
    /*padding-right: 0.25em;*/
    /*overflow: hidden;*/
}

/*
 *  Class nav: Used to create a list of links inside a div. The container should have nav 
 *  as a class; the container can change some properties to create a diferent view of the list.
 */

.nav {
    width: 100%;
    float: left;
}

.nav ul {
    padding: 0;
}

.nav ul li {
    display: inline;
}

.nav ul {
    margin: 0;
	color: #C1D0E8;
	font-family: tahoma, verdana, geneva, arial, helvetica, sans-serif;
   	font-size: .75em;
    letter-spacing: 2px;
	font-weight: bold;
    float: right;
}

.nav ul li :link, .nav ul li :visited {
    padding: 0.2em 1em;
	color: #003466;
	text-decoration: none;
	float: left;
	border-right: 1px solid #159;
    border-bottom: 0;
}

.nav ul li :link:hover, .nav ul li :visited:hover {
	color: #FFFFFF;
    text-decoration: none;
}

.nav li.last :link, .nav li.last :visited { 
    border-right: none;
}

/*
 * Used for meta links like log in / log out, help, about
 */
#meta_nav {
    clear: both;
    overflow: hidden;
    background-color: #FFFFFF;
}

#meta_nav ul li :link, #meta_nav ul li :visited {
    background-color: #FFFFFF;
}

#meta_nav ul li :link:hover, #meta_nav ul li :visited:hover { 
    background-color: #69C;
    color: #FFFFFF;
}

/*
 * This is the container of the main menu
 */
#main_menu {
    background: #f7f7f7;
    border: 1px solid #000;
    clear: both;
}

#main_menu ul {
    float: left;
   	font-size: .85em;
}

#main_menu ul li :link, #main_menu ul li :visited {
    background-color: #f7f7f7;
}

#main_menu ul li :link:hover, #main_menu ul li :visited:hover { 
    color: #FFFFFF;
    background-color: #69C;
}

#main_menu ul li a.active, #main_menu ul li a:hover.active {
    color: #FFFFFF;
	text-decoration: none;
	background: #CC3333;
	text-align: left;
	text-transform: uppercase;
}

/*
 * this is the container for a side navigation
 * It doesn't use nav class in the container since nav is intended for
 * an horizontal menu.
 */
#side_nav {
    background: #f7f7f7;
    border: 1px solid black;
    border-color: #ccc #666 #666 #ccc;
    clear: left;
    margin: 1em 0 2em;
    padding: .5em 0 0;
    float: left;
    width: 12.4em;
    font-family: tahoma, verdana, geneva, arial, helvetica, sans-serif;
    letter-spacing: 1px;
    color: #C1D0E8;
}
#side_nav ul { 
    list-style: none;
    margin: 0 0 .5em;
    padding: 0; 
}

#side_nav li {
    font: 1.2em Verdana, Arial, Helvetica, sans-serif; 
    color: #003466; 
    font-weight: bold; 
    margin: 0;
    padding: 0.1em 5px;
    text-transform: uppercase;
}

#side_nav li li {
    color: #000;
    font: 1.0em Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 -3px;
    padding: 1px 0 1px 10px;
    text-transform: capitalize;
}

#side_nav li li.active {
    background: #c1d0e8;
    border: 1px solid;
    border-color: #ccc #000 #666 #ccc; 
    padding: 0 0 0 9px;
}

#side_nav :link, #side_nav :visited { 
  border: none; 
  display: block 
}

#side_nav :link:hover, #side_nav :visited:hover { 
    background: transparent;
    color: #000;
}

/*
 * This rule is intended to be used in any kind of buttom (submit, reset, buttom)
 */
.submit {
    color: #003466;
	background-color: #C1D0E8;
	border: 1px solid #003466;
}

/*
 *  Wrapper for single or group of information to be allocated at left, center or right
*/
.content_box {
    border: 1px solid #CCC;
    margin: 0.5em auto 0 auto;
    width: 95%;
}

/*
 * Use it to give a title to a group of information.
 */
.content_box h1 {
    font: 1.1em Verdana, Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #C1D0E8;
    padding: 0 0.5em;
    font-weight: bold;
    margin: 0;
    border-bottom:2px solid #999;
    text-align: left;
    text-transform: uppercase;
}


/* 
 * this box is intended to have the content that isn't whithin other boxes.
 * It usually goes inside a box
 */
.content {
	width:98%;
	clear:both;	
	color:#000;
	font-weight:normal;
	font-size:12px;
	padding:10px 0 10px 0;
	margin-left:8px;
}

.content h2 {
	font-size: 14px;
	color:#222;
	padding-left:15px;
	margin-top:5px;
}

.content h3 {
	font-size: 12px;
	color:#EE6700;
	padding-left:15px;
	font-weight:bold;
}

.content p {
	padding-left:15px;
	margin:5px 0;
}

.paper-tool-tip {
    color: #000;
    width: 500px;
    text-align: justify;
    z-index: 13000;
}

.paper-tool-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #3E4F14;
    padding: 8px 8px 4px;
    background: #c1d0e8;
    border-bottom: 1px solid #69C; 
}

.paper-tool-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: #D1E3F6;
}

#tabs_container {
    width: 98%;
    margin:0.2em auto 0 auto;
    padding:0;
}

.banner_edit {
    width:100%;
}

.invite_field {
    width:100%;
}

table.edituser {
	text-align:left;
	margin-bottom:1em;
}