body {
    text-align: center; /*center hack*/
}

/*
 * This is the main container all the content is within it. It's required.
 */
#page_wrapper {
    margin: 0 auto; /*center hack*/
    text-align: left;
    width: 95%;
}

#header {
    margin: 0 auto; /*center hack*/
    text-align: left;
    /*width: 100%;*/
}

#footer {
    text-align: left;
    clear: both;
}

/*
 * Right container
 */
#right-sidebar {
    float: right;
    width: 19%;
    overflow: hidden;
}

/*
 * constains the center and left containers
 */
#main-body {
    float: left;
    width: 80%;
}

/*
 * Container to left content
 */
#left-sidebar {
    float: left;
    width: 22%;
    overflow: hidden;
}

/*
 * Container of all the main content
 */
#center-content {
    float: right;
    width: 77%;
    overflow: hidden;
}

/*
 * It's used to give a gutter between columns
 */
.inside {
    padding: 5px;
}

/*
 * to be used in containers which contains floated elements. This will created a nice
 * break
 */
.clearfix:after {
  content: "."; 
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
} 

.clearfix{display: inline-block;} 
