body {
text-align: center; /*center hack*/
}

#top_nav_bar { /* site navigation */
    margin:0 auto; /*center hack*/
    text-align:left;
	clear:both;
}

#page_wrapper { /* contains page header, contents, and footer (not site navigation) */
    margin:0 auto; /*center hack*/
    text-align:left;
    width:96%;
	clear:both;
	overflow:hidden;
}

#center_content { /* csx and mycsx profile pages, contains page header and contents */
	margin:0 auto;
	padding:0;
}

#left-sidebar { /* on primary pages */
	float:left;
    overflow:hidden;
	clear:left;
}

#right-sidebar { /* on primary pages */
	float:right;
    overflow:hidden;
	clear:right;
}
 
#main_content { /* used on search and summary pages */
    margin:0 0 0.5em 0;
	padding:0 0 0.5em 0.5em;
	clear:both; /* new */
}

#footer {
    text-align: left;
	margin:1em auto 0.5em auto;
    clear: both;
}

/*
 * It's used to give a gutter between columns
 */
.inside {
    padding: 5px;
}

/*
 * to be used in containers which contains floated elements. This will created a nice
 * break
 */
.clearfix:after {
  content: "."; 
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
} 

.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.columns-float-sec {
	float:left;
	width:80%;
}

.column-one-content, .column-two-content, .column-three-content { /* used in account home */
    margin:0.5em 0px; 
    padding:6px; 
    border:none; 
}

.column-one-content { /* GUTTERS BETWEEN COLUMNS */  
    margin-left:1px; 
    margin-right:1px; 
} 
.column-one-sec { /* center col, used on secondary */
    width:75%; 
    float:right; 
} 

.column-two-sec { /* left col, used on secondary pages */
	width:25%;
    float:left; 
} 

.column-three-sec { /* right col, used on secondar pages */
    width:15%; 
    float:right;
	z-index:12; /* positions right col over center col */
}
.column-one-content, .column-two-content, .column-three-content { /* used in account home */
    margin:0.5em 0px; 
    padding:6px; 
    border:none; 
}

.column-one-content { /* GUTTERS BETWEEN COLUMNS */  
    margin-left:1px; 
    margin-right:1px; 
} 
