* {
    margin:0;
    padding:0;
}

/* CSS TABLE OF CONTENTS. Styles for ...
 *	SEARCH TIP: use the numbers (#.#.#.#) below as a flag to find it quickly
1.0.0.0 BODY
2.0.0.0 MISC: Frequently Used Elements
2.1.0.0 MISC: Block Elements
2.1.1.0 MISC: Block Elements: Lists
2.2.0.0 MISC: Character Properties
2.3.0.0 MISC: Paragraph Properties
2.4.0.0 MISC: Link Properties
2.5.0.0 MISC: Image Properties
2.6.0.0 MISC: Forms
3.0.0.0 HEADER: MISC
3.1.0.0 HEADER: Primary Menu
3.2.0.0 HEADER: Logos
3.3.0.0 HEADER: Search
4.0.0.0 CONTENT: MISC
4.1.0.0 CONTENT: Secondary Menu
4.2.0.0 CONTENT: Page Header
4.3.0.0 CONTENT: Content Boxes
4.4.0.0 CONTENT: CSx: MISC
4.4.1.0 CONTENT: CSx: Secondary Menu
4.4.2.0 CONTENT: CSx: Page Header
4.4.3.0 CONTENT: CSx: Content Boxes
4.4.4.0 CONTENT: CSx: Page Footer
4.4.5.0 CONTENT: CSx: searchresults
4.4.6.0 CONTENT: CSx: docdetail: MISC
4.4.6.1 CONTENT: CSx: docdetail: Secondary Menu
4.4.6.2 CONTENT: CSx: docdetail: Page Header
4.4.6.3 CONTENT: CSx: docdetail: Content Boxes
4.4.6.4 CONTENT: CSx: docdetail: version history
4.4.6.5 CONTENT: CSx: docdetail: Page Footer
4.4.6.6 CONTENT: CSx: metacart
4.5.0.0 CONTENT: MyCSx: Account Home
4.5.1.0 CONTENT: MyCSx: Secondary Menu
4.5.2.0 CONTENT: MyCSx: LogIn
4.5.3.0 CONTENT: MyCSx: Admin Console
4.5.4.0 CONTENT: MyCSx: Mootools Tips
4.5.5.0 CONTENT: MyCSx: Tags
4.5.6.0 CONTENT: MyCsx: Mootools Promtp (mooPrompter)
4.5.7.0 CONTENT: MyCsx: Paper Notes Box
4.5.8.0 CONTENT: MyCsx: Data table
5.0.0.0 FOOTER
6.0.0.0 SCRAP
7.0.0.0 SIDENAV: MyCSx
 */
 
/* 1.0.0.0 Body {{{ */ 
/* ----------------------------------------------- */
body {
	text-align:center;
    font-size:70%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    line-height:1.3em;
	background-image:url(../images/gradient.gif);
	background-repeat:repeat-x; 
}
/* }}} */

/* 2.1.0.0 MISC: Block Elements {{{ */
/* ----------------------------------------------- */
h1,h2,h3,h4,h5,h6,p,blockquote,label,ol,dl,address {
   margin:0.5em 0;
}
/* }}} */

div.parent_spacer {
	clear:both;
	overflow:hidden;
}

/* 2.1.1.0 MISC: Block Elements: Lists {{{ */
/* ----------------------------------------------- */
ul.formating { /* This allows the list to be displayed similarly in FireFox and IE. */
    padding:0;
    margin:0.5em; 
    list-style-position:inside; 
} 

li,dd {
    margin-left:1em;
}

.nofrills_list { /* utilized in the citation list on docdetails */
	list-style-type:none;
}

.listformating li { /* utilized in the citation list on docdetails */
  margin-top: 1em;
}

table.citelist td {
 padding-bottom:1em;
 padding-left:0.5em;
 vertical-align:top;
}

/* }}} */

/* 2.2.0.0 MISC: Character Properties {{{ */
/* ----------------------------------------------- */
.char3 { /* used to highlight searched word/phrase in title */
	color:#7590dd;
	font-weight:bold;
	font-size:1em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    line-height:1.5em;
	display:inline;
}

.char6 { /* used in author for search results and venue in docdetails */
	color:#6f6f6f;
	font-size:120%;
}

.char_mediumvalue { /* used for author in docdetails */
	color:#363636;
}

.char_increased { /* used for author and venue in docdetails */
	font-size:1.2em;
}

.char_increased li { /* used in doc clipping for search results */
	font-size:1.1em;
}

.char_indented { /* used for author and venue in docdetails */
	margin-left:3em;
}

.char_emphasized { /* used for citation numbers in summary page */
	color:#000;
	font-weight:bold;
	display:inline;
	white-space:pre;
}

.char_smaller { /* WHERE IS THIS USED? */
	font-size:0.8em;
}

.char_increased_alot { /* WHERE IS THIS USED? */
 	font-size:1.4em;
}

.smallcapped { /* col 2 is the first column */
	text-align:left;
	color:#000;
	font-size:1.2em;
	font-variant:small-caps;
}
/* }}} */

/* 2.3.0.0 MISC: Paragraph Properties {{{ */
/* ----------------------------------------------- */
.para2 { /* used for tags on docdetail and for login button on mycsx profile page */
	width:95%;
	text-align:center;
	padding:0 0.5em 0 0.5em;
	margin:0 0 0.5em 0;
	clear:both;	
}

.para4 { /* used in conclusion of search results, in abstract and info. bar for docdetails */
	padding:1em;
	margin:0;
}

.para5 { /* used for tags on docdetail */
	display:inline;
}

.padded { /* use this to pad list on search results and author, venue on docdetail */
	margin-bottom:0.2em;
}

.bluetext {
	color:#1684d5;
}
/* }}} */

/* 2.4.0.0 MISC: Link Properties {{{ */
/* ----------------------------------------------- */
/*
 * The order by which you define links is important. It should be Link, Visited, Hover, Active. If you rearrange them, your hover effects may stop working, as they will be overridden.
 */
a:link {
    text-decoration:none;
    color:#00b;
    border-bottom:1px dotted #bbb;
}
 
a:visited {
    text-decoration:none;
    color:#639;
    border-bottom:1px dotted #bbb;
}

/*a:hover, a:visited:hover {
    background-color:#eee;
    color:#555;	
}*/

/* This is used for links on a dark background. */
a.lightlink:link {
    text-decoration:none;
    color:#cff;
	font-weight:bold;	
    border-bottom:1px dotted #bbb;
}
 
a.lightlink:visited {
    text-decoration:none;
    color:#c9f;
	font-weight:bold;
    border-bottom:1px dotted #bbb;
}

a.lightlink:link:hover, a.lightlink:visited:hover {
    background-color:#eee;
    color:#555;
	font-weight:bold;	
}

a.citation_only {
    color:#6666ff;
}

a.tooltip{
    position:relative; /*this is the key*/
    z-index:24;
	background-image:none;
    text-decoration:none;
    border:0;
}

a.tooltip:hover{
	z-index:25;
	background-image:none;
    text-decoration:none;
    border:0;
}

a.tooltip span {
    top:2em; 
	left:2em; 
	width:30em;
    border:1px solid #0cf;
	display: none;
}

a.tooltip:hover span{ /*the span will display just on :hover state*/
    top:2em; 
	left:2em; 
	width:30em;
    display:block;
    position:absolute;
    border:1px solid #0cf;
    background-color:#f2f8fd;
	color:#000;
	text-align:left;
	padding:0.5em;	
}

/* Next are the properties of links that are images. */
a img {border:0} /* Removes the default border */
a.remove {border:0} /* Removes the customized border */
/* }}} */

/* 2.5.0.0 MISC: Image Properties {{{ */
/* ----------------------------------------------- */
.icon {
	width:16px;
	height:16px;
	margin-right:1em;
}
/* }}} */

/* 2.6.0.0 MISC: Forms {{{ */
/* ----------------------------------------------- */
fieldset.rightAligned {
    text-align:right;
	margin:0;
	padding:0.3em 0.5em 0 0;
    border-top:none;
	border-right:1px #ccc solid;
	border-bottom:1px #ccc solid;
	border-left:1px #02176e solid;
}

fieldset.noborder {
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:none;
}

textarea.csx, input.csx {
	font-family:arial, Helvetica, sans-serif;
	font-size:1em;
	border:1px solid;
	border-color:#666 #ccc #ccc #666;
	padding:0.1em;
}

button.csx {
	font-family:arial, Helvetica, sans-serif;
	font-size:80%;
	border:1px solid;
	border-color:#666 #ccc #ccc #666;
}
	
textarea:focus, input:focus {
  background-color:#ffc;
}

.button { /* used in any kind of button (search, submit, login/out) */
    color:#003466;
	background-color:#8fc0f0;
	border:1px solid #003466;
}
/* }}} */

/* 3.0.0.0 HEADER: MISC {{{ */
/* ----------------------------------------------- */
/* }}} */


/* 3.1.0.0 HEADER: Primary Menu {{{ */
/* ----------------------------------------------- */
/* This is for the top navigation bar in the primary, secondary, tertiary, etc. pages.
 */
#top_nav_bar {
    z-index:1;
	border-bottom:1px solid #fff; /* horizontal line under top navigation */
	padding-top:0.3em;
	padding-bottom:0.5em;
}

.top_nav {
    text-align:left;
}

.top_nav ul li {
    display:inline;		
}

#top_nav_bar ul li :link {
    color:#fff;
	border:0;
	padding-left:1em;
	padding-right:1em;
}

#top_nav_bar ul li :visited {
	border:0;
	padding-left:1em;
	padding-right:1em;
}

#top_nav_bar ul li :hover {
	border:0;
	background-color:#69C;
	padding-left:1em;
	padding-right:1em;
}

#top_nav_bar_main {
     width:70%;
     float:left;  
}

#top_nav_bar_user {
     float:right;
     width:29%;
     text-align:right;
     color:#fff;
}

#cartspan {
	padding:0.2em 1em 0.2em 1em;
}
#userspan {
	padding:0.2em 1em 0.2em 1em;
	margin-right:1em;
    border-left:1px solid #FFF;
}

.top_nav ul li :link {
    color:#fff;
	padding-top:0.3em;
	padding-bottom:0.5em;
}

.top_nav ul li :visited {
	padding-top:0.3em;
	padding-bottom:0.5em;
}

.top_nav ul li :hover {
	padding-top:0.3em;
	padding-bottom:0.5em;
}

.top_nav ul li :visited:hover {
    color:#fff;
	padding-top:0.3em;
	padding-bottom:0.5em;
}
/* }}} */

/* 3.2.0.0 HEADER: Logos {{{ */
/* ----------------------------------------------- */
#logo {
	text-align:left;
	margin:15px 0 10px 1em;
	float:left;
}

#logo img {
    width:281px;
    height:50px;
    border:none;
    background: url(../images/logos/applogow.gif);
}

#mycsxlogo {
	text-align:left;
	margin:15px 0 10px 1em;
	float:left;
}

#mycsxlogo img {
    width: 239px;
    height: 50px;
    border: none;
    background: url(../images/logos/portallogo.gif);
}
/* }}} */

#search_meta_box, #mcs_search_meta_box {
	float:right;
	position:relative;
	padding-bottom:1em;
}
/* 3.3.0.0 HEADER: Search {{{ */
/* ----------------------------------------------- */
/* following commented is in searchbox.css
#search_meta_box {
	height:100px;
    z-index:2;
	position:relative;
 	top:0px;
 	right:20px;
    text-align:right;
	float:right;
}

#tab_container {
	width:405px;
	margin:0;
	padding:0;
}

#tabs {
    width:100%;
	margin:0;
	padding:0;
	line-height:normal;
    float:left;
	overflow:hidden;
}

#tabs ul {
    margin:0;
    padding:10px 10px 0;
    list-style:none;
}

#tabs li.tab_disabled {
    float:left;
    margin:0;
    padding:0 0 0 9px;
    display:inline;
	background:url("../images/tab_norm_lft_dk.gif")
      no-repeat left top; 
}

#tabs li.tab_active {
    float:left;
    margin:0;
    padding:0 0 0 9px;
    display:inline;
	background:url("../images/tab_on_lft_dk.gif")
      no-repeat left top; 
}

#tabs a.tab_disabled {
    float:left;
    display:block;
	background:url("../images/tab_norm_rght_dk.gif")
      no-repeat right top;
	margin:0;
	padding:5px 15px 4px 6px;
}

#tabs a.tab_active {
    float:left;
    display:block;
	background:url("../images/tab_on_rght_dk.gif")
      no-repeat right top;
	margin:0;
	padding:5px 15px 5px 6px;
}
*/

/*
#tabs li { 
    float:left;
    margin:0;
    padding:0 0 0 9px;
	background:url("../images/tab_norm_lft_dk.gif")
      no-repeat left top;
}
*/

/*
#tabs a { 
    float:left;
    display:block;
	background:url("../images/tab_norm_rght_dk.gif")
      no-repeat right top;
	margin:0;
	padding:5px 15px 4px 6px;
}
*/

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a {float:none;}
/* End IE5-Mac hack */

/*
#tabs #current {
    background-image:url("../images/tab_on_lft_dk.gif");
}
#tabs #current a {
    background-image:url("../images/tab_on_rght_dk.gif");
	padding-bottom:5px;
}
*/

/*
 * tab_container>meta_nav is used for meta links like log in / log out, help, about
 */
#meta_nav {
 	z-index:3;
    position:absolute;
 	top:5px;
 	right:8px;
 	width:200px;
	float:right;
	clear:both;		
}

#meta_nav ul li :link, #meta_nav ul li :visited {
    background-color:#fff;
}

#meta_nav ul li :link:hover, #meta_nav ul li :visited:hover { 
    background-color:#69C;
    color:#fff;
}

/*
 *  Class nav: Used with id meta_nav is used to create a list of links inside a div.
 *  The container should have nav as a class; the container can change some properties
 *  to create a diferent view of the list.
 */
.nav {
	width:100%;
	color:#fff;
	text-align:right;
	line-height:3em;
}

.nav ul {
    color: #fff;
	font-family: tahoma, verdana, geneva, arial, helvetica, sans-serif;
   	font-size: .75em;
    letter-spacing: 2px;
	font-weight: bold;
	padding:0;
	margin: 0;
}

.nav ul li {
    display:inline;
}

.nav ul li :link, .nav ul li :visited {
	padding:0.2em 1em;
	color:#fff;
	text-decoration:none;
}

.nav ul li :link:hover, .nav ul li :visited:hover {
	color:#fff;
    text-decoration:none;
}

.nav ul li :link, .nav ul li :visited {
	margin-top:0.5em;
	padding:0.2em 1em;
	color:#ccf;
	text-decoration:none;
    border-bottom:0;
}

/*
 * tab_container>search is used for the search textbox and button area.
 */

/* located in searchbox.css
#search_content {
	width:405px; 
    text-align:right;
	background-color:#fff;
	margin:0;
	padding:0;
	clear:both;
}
*/
/* }}} */

/* 4.0.0.0 CONTENT: MISC {{{ */
/* ----------------------------------------------- */
#center_content {
    width:100%;
    background-color:transparent; /* color here would give tabs a background */
} 

/* Next is the box that is intended to have the content that isn't whithin other boxes.
 * It usually goes inside a box.
 */
.content {
	width:95%;
	clear:both;	
	color:#000;
	font-weight:normal;
	font-size:12px;
	padding:10px 0 0 0;
	margin-left:8px;
}

.content h2 {
	font-size:14px;
	color:#222;
	padding-left:15px;
	margin-top:5px;
}

.content h3 {
	font-size:12px;
	color:#EE6700;
	padding-left:15px;
	font-weight:bold;
}

.content p {	
	padding-left:15px;
	margin:5px 0;
}
/* }}} */

/* 4.1.0.0 CONTENT: Secondary Menu {{{ */
/* ----------------------------------------------- */
/* }}} */

/* 4.2.0.0 CONTENT: Page Header {{{ */
/* ----------------------------------------------- */
/* }}} */

/* 4.3.0.0 CONTENT: Content Boxes {{{ */
/* ----------------------------------------------- */
.content_box {
	width:336px; /* to accommodate graphformat image */
    border:1px solid #CCC;
    margin:1em;
    margin-bottom:2em; /*new*/	
}

.content_box h2 {
    font:1.1em Verdana, Arial, Helvetica, sans-serif;
    color:#02176e;
    background-color:#8fc0f0;
    padding:0 0.5em;
    font-weight:bold;
    margin:0;
    border-bottom:2px solid #999;
    text-align:left;
    text-transform:uppercase;
}

.content_box ul {
	margin-left:1.5em;
	padding-left:1em;
	text-indent:-1em;
}
/* }}} */

/* 4.4.0.0 CONTENT: CSx: MISC {{{ */
/* ----------------------------------------------- */
#primary_content {
    text-align:left;
	background-color:#fff;
	margin:0;
	padding:0;
	border-top:none;
	border-right:1px #02176e solid;
	border-bottom:1px #02176e solid;
	border-left:1px #ccc solid;
	clear:both;
}
/* }}} */

/* 4.4.1.0 CONTENT: CSx: Secondary Menu {{{ */
/* ----------------------------------------------- */
/* }}} */

/* 4.4.2.0 CONTENT: CSx: Page Header {{{ */
/* ----------------------------------------------- */
#introduction {
	color:#000;
    background-color:#ffc;
    margin:0;
	padding:0 0 0.5em 0.5em;
}

/* In case you need more that one in a page */
.introduction {
    color:#000;
    background-color:#ffc;
    margin:0;
    padding:0 0 0.5em 0.5em;
}

.primaryheader { /* for the primary header or title of the page */
    font:1.5em Verdana, Arial, Helvetica, sans-serif;
    color:#000;
    background-color:#ffc;
    font-weight:bold;
    margin:0;
	padding:0.5em 0 0.5em 0.5em;
    text-align:left;
}

.information_bar {
	background-color:#dedede;
	margin:0;
	padding:0.5em;
}

.information_bar .left_content {
	float:left;
}

.information_bar .right_content {
	float:right;
    padding-right:0.5em;
}

.information_bar2 { /*  */
    background-color:#ffc;
    margin:0;
    margin-bottom:0.5em;
    padding:0.5em;
}

.error { /* Used in some of the error Pages */
	text-align: center;
	color: blue;
}

.error h1 {
    font:3.5em Verdana, Arial, Helvetica, sans-serif;
}

.error h3 {
    font:2.5em Verdana, Arial, Helvetica, sans-serif;
}

/* }}} */

/* 4.4.3.0 CONTENT: CSx: Content Boxes {{{ */
/* ----------------------------------------------- */
/* }}} */

/* 4.4.4.0 CONTENT: CSx: Page Footer {{{ */
/* ----------------------------------------------- */
#conclusion {
	color:#000;
    background-color:#ffc;
    margin:0;
	padding:0.5em;
	border-bottom:1px #ccc solid;
}

/* In case you need more than once in a page */
.conclusion {
    color:#000;
    background-color:#ffc;
    margin:0;
    padding:0.5em;
    border-bottom:1px #ccc solid;
}
/* }}} */

/* 4.4.5.0 CONTENT: CSx: searchresults {{{ */
/* ----------------------------------------------- */
.searchresult {
	list-style-type:none;
	margin:0.5em 0;
}

.blockhighlight_box {	
    margin-top:1em;
	padding-right:1em; /*new*/
    margin-bottom:1.5em;
}

.overblock {
	background-image:url(../images/grdnt_yw.gif);
	background-repeat:repeat-x;
    background-position:100% 0px;	
	border-left:1px solid #69c;
	border-bottom:1px solid #69c;
	display:block;
}

.offblock {
	background-image:url(../images/grdnt_yw.gif);
	background-repeat:repeat-x;
    background-position:100% -150px;	
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	display:block;
}

.blockhighlight ul {
    margin:0;		
    width: 400px; /* In order for the block hover effect to work properly in IE, we need to make the width of the link the same as that of the list item. Otherwise the hover effect will only display when you mouse over the text within the list item. */
} 

.blockhighlight li {
    list-style-type:none;
	display:block;
}

.blockhighlight li em {
    font-weight:bold;
}

.blockhighlight li.doc_details { 
	display:block;
    padding:0 0 0.5em 0.5em;
    text-decoration: none;
	margin:0 1em 2em 0;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;	
}

 * html .blockhighlight li a {  /* make hover effect work in IE */
	width:400px;
}

a.citation:hover { 
	text-decoration:none;
	border:0;
}

.blockhighlight a em.title { 
	color:blue;
	font:bold 1.3em Verdana, Helvetica, sans-serif;
    line-height:170%;
	border-bottom:1px solid blue; 
    display:inline;
}

.blockhighlight em.title { 
	font:1.3em Verdana, Helvetica, sans-serif;
    line-height:170%;
    display:inline;
}

.blockhighlight a span.author {
	color:#6f6f6f;
    font:normal 1.1em Verdana, Helvetica, sans-serif;
    line-height:170%;
	display:block;
}

.blockhighlight a span.doc_clipping {
    color:#000;
    font:normal 1.1em Verdana, Helvetica, sans-serif;
    line-height:170%;
	display:block;
}
/* }}} */

/* 4.4.6.0 CONTENT: CSx: docdetail: MISC {{{ */
/* ----------------------------------------------- */
h2.topic_heading { /* for the secondary headings in summary page */
	color:#000;
	font-size:1.1em;
	font-weight:bold;
/*  Please note the 3-pixel fix in the head portion of primary pages. */	
/*	zoom:1;  Internet Explorer Conditional Comment (IECC) */
}
/* }}} */
#downloads {
    float:right;
    padding-top:1em;
    padding-right:2em;
    padding-left:4em;
    padding-bottom:2em;
    text-align:center;
}
.dlspan {
    text-transform:uppercase;
    font-weight:bold;
}

/* 4.4.6.1 CONTENT: CSx: docdetail: Secondary Menu {{{ */
/* ----------------------------------------------- */
#secondary_tabs_container {
	width:100%;
	margin:0;
	padding:0;
}

#secondary_tabs {
    width:100%; /* sliding doors (sd)*/
	margin:0;
	padding:0;
	list-style: none;
	line-height:normal;
    float:left; /* sd */
	z-index:5;
}

#secondary_tabs ul {
    margin:0;
    padding:10px 10px 0 10px;
    list-style:none;
	line-height:normal;
}

#secondary_tabs li { /* all list items */
    margin:0;
	padding:0;
	float:left; /* dd */
	width:15em; /* dd, width needed or else Opera goes nuts */
	position:relative;	
}

#secondary_tabs li ul { /* drop-down for second-level lists */
	margin:0 0 0 3em;
	padding:0;
	position:absolute;
	top:2em; /* dd, for Firefox to display list below tab instead of over it */
	z-index:6;
	width:15em;
	left:-999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	clear:left;
}

#secondary_tabs li ul li { 
	padding:0.25em 0.5em;
	background:#8fc0f0;
    border-top:1px solid #1978cc;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #000;	
}

#secondary_tabs li ul li a {
	padding:0 1em;
} 

#secondary_tabs a.sublist_links span {
	width:14em;
	color:#666;
	font-weight:bold;
}

#secondary_tabs li ul li:hover { 
	padding:0.25em 0.5em;
	color:#000;
	font-weight:bold;	
	background:#ffa826;
    border-top:1px solid #ee6700;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
}

#secondary_tabs li ul li a.sublist_links:hover span { 
	color:#000;
	font-weight:bold; 		
}

#secondary_tabs li:hover ul, #secondary_tabs li.sfhover ul { /* lists nested under hovered list items */
	left:auto; /* dd */ /* Brings the dropdown list back into view. */
}

#secondary_tabs a.page_tabs {
    float:left;
	display:block;
	background:url("../images/tab_all_lft.gif")
      no-repeat left top;  
	margin:0;
	padding:0 0 0 9px;
    border-bottom:1px solid #1978cc;
    text-decoration:none;
	cursor:pointer;
	cursor:hand; /* for IE to let user know that top-level tab is a link */
}

#secondary_tabs a.page_tabs span {
	width:12em;
	float:left;
    display:block;
    background:url("../images/tab_all_rght.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#666;	
    font-weight:bold;
	text-align:center;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#secondary_tabs a.page_tabs span {float:none;}
    /* End IE5-Mac hack */
	
#secondary_tabs a.page_tabs:hover {
    background-position:0% -150px;
}	
#secondary_tabs a.page_tabs:hover span {
    background-position:100% -150px;
	color:#000;
  	font-weight:bold;
}

#secondary_tabs #currentpage a.page_tabs {
    background-image:url("../images/tab_all_lft.gif"); /* will apply to sub-list*/
	background-position:0 -300px;
	border-width:0; /* when no current page on first page called */
}

#secondary_tabs #currentpage a.page_tabs span {
	width:12em;
    background-image:url("../images/tab_all_rght.gif");
	background-position:100% -300px;
	padding-bottom:5px;
	color:#000;
	font-weight:bold;
	text-align:center;	
}
/* }}} */

/* 4.4.6.2 CONTENT: CSx: docdetail: Page Header {{{ */
/* ----------------------------------------------- */
/* Next is the icon labeled buttons within the information_bar */
.button_nav {
	margin:0;
	padding:0;
	list-style-type:none;
}

.button_nav li {
	width:13em;
	margin:0 0.5em 0 0; /* gives space between buttons */
	padding:0;
	display:inline;
	list-style-type:none;
    float:left;
	position:relative;
	overflow:visible;
}

.button_nav li a {
	width:13em;
	margin:0 0.3em 0 0;	
	padding:0px;
    color:#fff;	
	font:bold 100% Verdana,Arial,sans-serif;
	text-decoration:none;	
	line-height:1.5em;	
	text-align:center; 
	background-image:url(../images/gradient.gif);
	background-repeat:repeat-x;
	background-position:100% -100px;	
    display:block; /* for Firefox to render background image properly */
}

.button_nav a:hover  {
	color:#000;	
	background-image:url(../images/grdnt_ywor.gif);
	background-repeat:repeat-x;
	background-position:100% 0px;	
}

.button_nav a:visited  { /*new*/
	width:13em;
	margin:0 0.3em 0 0;	
	padding:0px;
    color:#fff;	
	font:bold 100% Verdana,Arial,sans-serif;
	text-decoration:none;	
	line-height:1.5em;	
	text-align:center; 
	background-image:url(../images/gradient.gif);
	background-repeat:repeat-x;
	background-position:100% -100px;	
    display:block; /* for Firefox to render background image properly */
}
/* }}} */

/* 4.4.6.3 CONTENT: CSx: docdetail: Content Boxes {{{ */
/* ----------------------------------------------- */
#right-sidebar { /* contains the document statistics and pop distribution */
    background:#fff;
	margin:0.5em;
}

#citechart {
	width:330px;
	height:255px;
	border:0;
}

table.tableformat { /* for the Document Statistics */
	width:336px;
	border-top:1px solid #999;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;	
	border-collapse:collapse;
	background-color:#fff;
}

table.tableformat td {
	border-width:2px;
	padding:4px;
	border-style:solid;
	border-color:#ccc;
	background-color:#fff;
}
/* }}} */

/* 4.4.6.4 CONTENT: CSx: version history {{{ */
/* ----------------------------------------------- */
.cite_context {
    visibility:hidden;
    overflow:hidden;
    height:0px;
    position:relative;
}

.actionspan {
	cursor:pointer;
	color:#00b;
}

.metatable { /* used in version history */
	border-collapse:separate;
	margin: 0 auto;
	border: thin solid #C1D0E8;
}

.metatable thead th {
	border: thin solid #C1D0E8;
	text-align:center;
}

.metatable tbody td {
	text-align:left;
	border: thin solid #C1D0E8;
	padding: 0.2em 0.2em;
}

.version_nav { /* used in version history */
    padding: .5em .5em .5em;
    font-family: tahoma, verdana, geneva, arial, helvetica, sans-serif;
    text-align:center;
}

.version_nav ul {
	list-style: none;
    margin: 0 0 .5em;
    padding: 0;
}

.version_nav li {
	font: 1.2em Verdana, Arial, Helvetica, sans-serif; 
    color: #003466; 
    font-weight: bold; 
    margin: 0;
    padding: 0.1em 5px;
}

.version_nav li.active {
	background:#ffc;
	border:1px solid;
	border-color: #ccc #aaa #aaa #ccc;
}

.banner {
	text-align:left;
	padding: 1em 1em 1em 1em;
}

.banner_header {
	color:#ff6600;
	font-weight:bold;
}

.banner_text {
	color:#ffffff;
}

/* This is used for links on a dark background. */
.banner_text a:link {
    text-decoration:none;
    color:#cff;
	font-weight:bold;	
    border-bottom:1px dotted #bbb;
}

.banner_text a:visited {
    text-decoration:none;
    color:#c9f;
	font-weight:bold;
    border-bottom:1px dotted #bbb;
}

.banner_text a:link:hover, .banner_text a:visited:hover {
    background-color:#eee;
    color:#555;
	font-weight:bold;	
}
/* }}} */

/* 4.4.6.5 CONTENT: CSx: docdetail: Page Footer {{{ */
/* ----------------------------------------------- */
/* }}} */

/* 4.4.6.6 CONTENT: CSx: metacart {{{ */
/* ----------------------------------------------- */

ul.cart_item {
	margin:1em;
}

.cart_item li {
	margin-bottom:0.2em;
}
.cart_item li.indent {
	padding-left:2em;
}
.cartmsg {
	color:#c5821d;
}
	
/* }}} */

/* 4.5.0.0 CONTENT: MyCSx: Account Home {{{ */
/* ----------------------------------------------- */

.mypagecontent {
    width:100%;
	background-color:#f7f7f7;
	border:1px solid #000;
	margin:0;
	padding:0;
	border:none;
	clear:both;	
	overflow:visible;	
}

.columns-float {  /* used on account home */
    float:left; 
    width:60%; 
	background:#f7f7f7;
}

.columns-float-sec {
	float:left;
	width:80%;
	background:#f7f7f7;
}

/* the relative positioning is required by IEs 5 + 6 (PC) - NN4 crashes if it sees them while other browsers don't seem to mind - hence the Caio hack */ 
.column-one { /* center col, used on account home */
    width:83%; 
    float:right; 
} 

.column-two { /* left col, used on account home */
    width:17%; 
    float:left; 
} 

.column-three { /* right col, used on account home */
    width:40%; 
    float:right;
	z-index:12; /* positions right col over center col */
}

.column-one-sec { /* center col, used on secondary */
    width:75%; 
    float:right; 
} 

.column-two-sec { /* left col, used on secondary pages */
	width:25%;
    float:left; 
} 

.column-three-sec { /* right col, used on secondar pages */
    width:15%; 
    float:right;
	z-index:12; /* positions right col over center col */
}


.column-one-content, .column-two-content, .column-three-content { /* used in account home */
    margin:0.5em 0px; 
    padding:6px; 
    border:none; 
}

.column-one-content { /* GUTTERS BETWEEN COLUMNS */  
    margin-left:1px; 
    margin-right:1px; 
} 

/* CSS HACK: position:relative needed by IE6 otherwise the col 2 don't show up on initial rendering - they're there but you have to minimise the window or switch to another app and back to see the full effect. But IE5(pc) doesn't like it. And nor does NN4. 
NB. the use of pos:rel has to go way beyond skin-deep - any nested element that needs a background colour appears to require to be be relatively positioned */ 
/*/*/ 
.columns-float, .column-one, .colume-one-sec, .column-two, .column-two-sec, .column-three, column-three-sec h2 {
	position:relative;
} 

/* ==================================================================== 
box-clear requires all sorts of hackery because of the way the 
different browsers cope with clearing floats 
see [# #] 
-------------------------------------------------------------------- */ 
.box-clear { clear: both; line-height: 0px; font-size: 1px; } 
/* IE5 (mac) dealt with, now reset font-size for Geckos, 
turn off for IE5 (PC) + OmniWeb and back on for IE6 (PC) 
see [http://www.fu2k.org/alex/css/test/OmniWebInlineHack.mhtml] */ 
/*\*/ 
.box-clear { font-size: medium; } 
.fake.box-clear { display: none; } 
/* */ 
/* Turn off for Opera 6 and below */ 
html>body div.box-clear { display: none; } 
/* And turn it back on again for good honest browsers 
see [http://www.albin.net/CSS/OwenHack.html] */ 
head:first-child+body div.box-clear { display: block; } 
/* ==================================================================== 
nn4clear is as its name suggests, only required for NN4 compatibility 
If you don't need that you can remove both this rule and the 
relevant div from the html 
-------------------------------------------------------------------- */ 
.nn4clear { clear: both; line-height: 0px; font-size: 1px; } 
/*/*/ .nn4clear { display: none; } /* */ 

.myhome_infocontainer { /* used on account home */
    border-left:1px solid #CCC;
    margin:0.7em 0 0 1em;
	padding:0 0.5em;
	float:left;
	position:relative;
	z-index:10;
}

.char_floating { /* used in account home headings */	
	margin:0;
	color:#1080d3;
	font-size:1.6em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
	float:left;
	position:absolute;
	top:0;
	left:0.3em;
	z-index:11;
}

.pushdown {
	margin:0.9em 0 0 0.7em;
}

#box {
	width:30em;
	padding:5px;
	margin:0 0 0 1em;
	font-weight:bold;
    text-align:center;
	background:#ffca7a url(../images/grdnt_orwh.gif) repeat-x;	
}

.char_headers { /* used in account home headings */
	color:#1080d3;
	font-size:1.6em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    line-height:1.5em;	
}

ul.box_list { /* used in col 2 account home, the left column */
	margin-top:1em;
}

.column-two-content h2 { /* col 2 is the first column */
	text-align:left;
	color:#1080d3;
	font-size:1.5em;
	font-variant:small-caps;
}

.column-two-content h3 { /* col 2 is the first column */
	text-align:left;
	color:#000;
	font-size:1em;
	font-weight:normal;
}

.myhome_content_box  {
	padding-bottom:0.5em;
	background:#f7f7f7;
}

.myhome_content_box h3 {
	padding:0 0.3em;
	color:#000;
	font-size:1.2em;
	font-variant:small-caps;
}

.myhome_content_box p {
	margin:0.7em 0 0 1em;
	padding:0 0.5em;
}

#leftmenu { /* has class column-two-content */
	width:100%;
	margin-top:0;
	margin-left:0.5em;
}

#leftmenu ul {
    padding:0;
    margin:0;
	font-weight:bold;	
}

#leftmenu ul li {
	border-left:1px solid #1080d3;	
}

#leftmenu ul li :link, #leftmenu ul li :visited {
	width:11em;
	display:block;		
	padding:1em;
	color:#003466;
	text-decoration:none;
}

#leftmenu ul li.end :link, #leftmenu ul li.end :visited {	
	border-bottom:1px dotted #ccc;
}

#leftmenu ul li.active a:link, #leftmenu ul li.active a:visited {
    color:#fff;	
    font-variant:small-caps;
    text-decoration:none;	
	background-color:#1080d3;
	border-bottom:none;
	padding:1em;
}

#leftmenu ul li :link:hover, #leftmenu ul li :visited:hover { 
	color:#333;
    background:#ffca7a url(../images/grdnt_orwh.gif) repeat-x;	
}
#leftmenu div {
    padding-left:1em;
    padding-right:1em;
}
/* }}} */

/* 4.5.1.0 CONTENT: MyCSx: Secondary Menu {{{ */
/* ----------------------------------------------- */
#myheader {
    background:none;
}

/* Following is used for meta links like log in or log out, help, about */
#mymeta_nav { /* has class mynavsub_menu*/
    clear:both;
    overflow:hidden;
}

#mymeta_nav ul li :link, #mymeta_nav ul li :visited {

}

#mymeta_nav ul li :link:hover, #mymeta_nav ul li :visited:hover { 
    background-color:#ee6700;
    color:#000;
}

.mynavsub_menu { /* class for #mymeta_nav */
    width:100%;
}

.mynavsub_menu ul {
	padding:0.5em 0;
    margin:0;
	font-family:tahoma, verdana, geneva, arial, helvetica, sans-serif;
   	font-size:0.85em;
    letter-spacing:2px;
	font-weight:bold;
    float:right;
}

.mynavsub_menu ul li {
    display:inline;	
}

.mynavsub_menu ul li :link, .mynavsub_menu ul li :visited {
	padding:0.5em 1em;
	text-decoration:none;
	border-right:1px solid #159;
	color:#fff;			
    border-bottom:0;
}

.mynavsub_menu ul li :link:hover, .mynavsub_menu ul li :visited:hover {
	color:#fff;
    text-decoration:none;
}

.mynavsub_menu li.last :link, .mynavsub_menu li.last :visited { 
    border-right:none;
}

/* Following is used for MyCSx main menu */
#mymain_menu { /* has class mynav */
    background:#f7f7f7;
    border:1px solid #000;
    clear:both;
}

#mymain_menu ul {
    float:left;
   	font-size:0.95em;
}

#mymain_menu ul li :link, #mymain_menu ul li :visited {
    background-color:#f7f7f7;
}

#mymain_menu ul li :link:hover, #mymain_menu ul li :visited:hover { 
    background-color:#ee6700;
    color:#000;
}

#mymain_menu ul li a.active, #mymain_menu ul li a:hover.active {
    color:#fff;
	text-decoration: none;
    background-color:#000;
	text-align: left;
	text-transform:uppercase;
}

#mymain_menu ul li a.active span, #mymain_menu ul li a:hover.active span {
	text-transform:lowercase;
} 

.mynav { /* class for mymain_menu */
    width:100%;
    float:left;
}
.mynav ul {
    padding:0;
}

.mynav ul li {
    display:inline;
}

.mynav ul {
    margin:0;
	font-family:tahoma, verdana, geneva, arial, helvetica, sans-serif;
   	font-size:0.85em;
    letter-spacing:2px;
	font-weight:bold;
    float:right;
}

.mynav ul li :link, .mynav ul li :visited {
	padding:0.2em 1em;
	color:#003466;
	text-decoration:none;
	float:left;
	border-right:1px solid #159;
    border-bottom:0;
}

.mynav ul li :link:hover, .mynav ul li :visited:hover {
	color:#fff;
    text-decoration:none;
}

.mynav li.last :link, .mynav li.last :visited { 
    border-right:none;
}
/* }}} */

/* 4.5.2.0 CONTENT: MyCSx: LogIn {{{ */
/* ----------------------------------------------- */
#login_content {
    margin:0 auto; /*center hack*/
	padding:2em;
    width:65%;
	clear:both;	
}

.left-column_content { /* left column for myciteseer login sections */
	float:left;
	text-align:right;
	margin:0;
}

.right-column_content { /* right column for myciteseer login sections */
    text-align:left;
    margin:0 0.5em 0 0.5em;
	clear:right;
}

#mylogin fieldset {
    border:none;
}

.oneField {
	padding:0.5em;
}

.errMsg {
	padding-right:0.5em;
	color:#900;
}

#captcha {
	margin-top:3em;
	border:1px solid #000;
}
/* }}} */

/* 4.5.3.0 CONTENT: MyCSx: Admin Console {{{ */
/* ----------------------------------------------- */

.banner_edit {
    width:100%;
}

.invite_field {
    width:100%;
}

/* }}} */

/* 4.5.4.0 CONTENT: MyCSx: Mootools Tips {{{ */
/* ----------------------------------------------- */

.paper-tool-tip {
    color: #000;
    width: 500px;
    text-align: justify;
    z-index: 13000;
}

.paper-tool-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #3E4F14;
    padding: 8px 8px 4px;
    background: #c1d0e8;
    border-bottom: 1px solid #69C; 
}

.paper-tool-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: #D1E3F6;
}

a.paper-tips {
    background-image:none;
    text-decoration:none;
    border:0;
}

/* }}} */
/* 4.5.5.0 CONTENT: MyCSx: Tags {{{ */
/* ----------------------------------------------- */

.tagcloud {
	background-color:#f7f7f7;
	padding:8px;
	padding-top:16px;
	padding-bottom:16px;
	margin:0px;
	margin-bottom:16px;
	color:#999999;
	line-height:180%;
	list-style-type:none;
}

.tagcloud_doc {
	background-color:#fff;
	padding:8px;
	margin:0px;
	color:#999999;
	line-height:180%;
	list-style-type:none;
}

.tag1 a:link, .tag1 a:visited, .tag1 a:active {
	margin-right:6px;
	color:#006ff7;
	font-size:100%;
	font-weight:200;
	text-decoration:none;
}

.tag2 a:link, .tag2 a:visited, .tag2 a:active {
	margin-right:6px;
	color:#005fe7;
	font-size:110%;
	font-weight:300;
	text-decoration:none;
}

.tag3 a:link, .tag3 a:visited, .tag3 a:active {
	margin-right:6px;
	color:#004fd7;
	font-size:120%;
	font-weight:500;
	text-decoration:none;
}

.tag4 a:link, .tag4 a:visited, .tag4 a:active {
	margin-right:6px;
	color:#003fc7;
	font-size:130%;
	font-weight:600;
	text-decoration:none;
}

.tag5 a:link, .tag5 a:visited, .tag5 a:active {
	margin-right:6px;
	color:#002fb7;
	font-size:145%;
	font-weight:800;
	text-decoration:none;
}

.tag6 a:link, .tag6 a:visited, .tag6 a:active {
	margin-right:6px;
	color:#001fa7;
	font-size:160%;
	font-weight:900;
	text-decoration:none;
}

.tag1, .tag2, .tag3, .tag4, .tag5, .tag6 {
	margin:0px;
	padding:0px;
	display:inline;	
}

.tag1 a:hover, .tag2 a:hover, .tag3 a:hover, .tag4 a:hover, .tag5 a:hover, .tag6 a:hover {
	text-decoration:underline;	
}

/* }}} */
/* 4.5.6.0 CONTENT: MyCsx: Mootools Promtp (mooPrompter) {{{ */
/* ----------------------------------------------- */
#delete-conf-Box {
    border: 1px solid #69C;
    background-color: #c1d0e8;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 24px;
}

#delete-conf-InBox {
    padding-top: 15px;
}

#delete-conf-BoxContent {
    padding: 0 20px 0 20px;
}

#delete-conf-Box input {
    margin: 10px;            
}

#delete-conf-Box .BoxAlert {
    text-align: center;
}

#delete-conf-Box .BoxConfirm {
    text-align: center;
}

#delete-conf-Box .BoxPrompt {
    text-align: left;
}
/* }}} */

/* 4.5.7.0 CONTENT: MyCsx: Paper Notes Box {{{ */
/* ----------------------------------------------- */

.pnotes_container {
    width:99%; 
    border:1px solid #CCC;
    padding-bottom:0.5em;
    background:#f7f7f7;
}

.pnotes_container h2 {
    font:1.1em Verdana, Arial, Helvetica, sans-serif;
    color:#02176e;
    background-color:#8fc0f0;
    padding:0 0.5em;
    font-weight:bold;
    margin:0;
    border-bottom:2px solid #999;
    text-align:left;
    text-transform:uppercase;
}

.pnotes_container table {
    width:99%;
    border-collapse:collapse;
    margin: 0 auto;
    border: thin solid #C1D0E8;
}

.pnotes_container thead th {
    border: thin solid #C1D0E8;
    text-align:center;
}

.pnotes_container tbody td {
    text-align:left;
    border: thin solid #C1D0E8;
    padding: 0.2em 0.2em;
}

/* }}} */

/* 4.5.8.0 CONTENT: MyCsx: Data table {{{ */
/* ----------------------------------------------- */
.datatable {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 auto 5px auto; 
}

.datatable thead {
    height: 1.2em;
    z-index: 2;
    background: #f3f3f3;
}

.datatable thead tr{
    width: auto;
}

.datatable thead tr th{
    font-weight: bold;
    width: 100px;
    height: 1.2em;
    border-bottom: 2px solid #cccccc;
    text-indent: 5px;
    text-align: center;
}

.datatable tbody{
    width: 100%;
}

.datatable tbody tr{
    visibility: visible;
    /*border-bottom: 1px solid #f3f3f3;*/
    border-bottom: 1px solid red;
}

.datatable tbody tr td{
    padding: 2px 0 2px 0;
    width: 100px;
    border-right: 0px solid #cccccc;
}

.datatable tbody tr.odd td{
    background: #ffffff;
}

.datatable tbody tr.even td{
    background: #f6f6f6;
}

.datatable tbody tr.odd:hover td,
.datatable tbody tr.even:hover td{
    background: #feffbf;
}

/* }}} */

/* 5.0.0.0 FOOTER {{{ */
/* ----------------------------------------------- */
#footer {
    width:100%;
    float:left;
    background:#fff;
    text-align:center;
	clear:both; /* No floating elements allowed on either the left or the right side */
}

#footer p {
	color:#999;
	font-size:0.9em;
}

#ist {
    width:65px;
    height:25px;
}
/* }}} */


/* 6.0.0.0 SCRAP {{{ */
/* ----------------------------------------------- */
/* 09-JAN-08 removed unused elements:
.char1
.char2
.char4
.char5
a.char6:link
.char_heading3
.reference
.para1
.para3
a.reset_default:visited
a.reset_default:link:hover, a.reset_default:visited:hover
.paraA
.blockhighlight a span.reference
#tag_box
#tag_box fieldset
#tag_box textarea
#tag_box input
#searchresultlist
*/
/* }}} */

/* 7.0.0.0 SIDENAV for MyCSx {{{ */
/* ----------------------------------------------- */

/*
 * this is the container for a side navigation
 * It doesn't use nav class in the container since nav is intended for
 * an horizontal menu.
 */
#side_nav {
    background: #f7f7f7;
    border: 1px solid black;
    border-color: #ccc #666 #666 #ccc;
    clear: left;
    margin: 1em 0 2em 1em;
    padding: 0.5em 0 0 0.5em;
    float: left;
    width: 12.4em;
    font-family: tahoma, verdana, geneva, arial, helvetica, sans-serif;
    letter-spacing: 1px;
    color: #C1D0E8;
}
#side_nav ul { 
    list-style: none;
    margin: 0 0 .5em;
    padding: 0; 
}

#side_nav li {
    font: 1.2em Verdana, Arial, Helvetica, sans-serif; 
    color: #003466; 
    font-weight: bold; 
    margin: 0;
    padding: 0.1em 5px;
    text-transform: uppercase;
}

#side_nav li li {
    color: #000;
    font: 1.0em Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 -3px;
    padding: 1px 0 1px 10px;
    text-transform: capitalize;
}

#side_nav li li.active {
    background: #c1d0e8;
    border: 1px solid;
    border-color: #ccc #000 #666 #ccc; 
    padding: 0 0 0 9px;
}

#side_nav :link, #side_nav :visited { 
  border: none; 
  display: block 
}

#side_nav :link:hover, #side_nav :visited:hover { 
    background: transparent;
    color: #000;
}

/* }}} */
