/* 09-JAN-08 Bonnie Batres merged updates to svn repository version */

body {
text-align:center; /*center hack*/
}

#top_nav_bar { /* site navigation */
    margin:0 auto; /*center hack*/
    text-align:left;
	clear:both;
}

#page_wrapper { /* contains page header, contents, and footer (not site navigation) */
    margin:0 auto; /*center hack*/
    text-align:left;
    width:96%;
	clear:both;
	overflow:hidden;
}

#center_content { /* csx and mycsx profile pages, contains page header and contents */
	margin:0 auto;
	padding:0;
}

#right-sidebar { /* on summary pages */
	float:right;
    overflow:hidden;
	clear:right;
}
 
#main_content { /* used on search and summary pages */
    margin:0 0 0.5em 0;
	padding:0 0 0.5em 0.5em;
	clear:both; /* new */
}

.parent_div_spacer { /* used right before parent div closes to expand around child divs */
	clear:both;
}

.inside { /* used to give a gutter between columns */
    padding:5px;
}

/*
 * to be used in containers which contains floated elements. 
 * When a float is contained within a container box that has a 
 * visible border or background, that float does not automatically 
 * force the container's bottom edge down as the float is made
 * taller. Instead the float is ignored by the container and will
 * hang down out of the container bottom like a flag. This does
 * not affect IE/Win which simply keeps enclosing the float as
 * always (assuming the container has a stated dimension), but
 * non-IE browsers will need a substitute for that element.
 * Below is that substitute. Just add a class of .clearfix to
 * any element containing a float needing to be cleared.
 * NOTE: In many cases it's undesirable to use either a height
 * or a width, but happily the Holly hack comes to our rescue.
 * This hack lets IE/Win and only IE/Win see a simple 1% height
 * for the container.
 */
.clearfix:after {
  content: "."; 
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
} 

.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


#footer {
    text-align:left;
	margin:1em auto 0.5em auto;
    clear:both;
}